nav {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

#highscore {
    color: rgb(237, 5, 237);
    font-weight: bold;
}

#time {
    font-weight: bold;
}

#quiz {
    margin: auto;
}

#mainHeading {
    margin: 80px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.instructions {
    margin: 35px 170px 30px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight:500;
}

.styleforquestions {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    margin-left: 191px;
    margin-top: 83px;
    margin-right: 191px;
}

#result {
    margin: 20px 20px 20px 187px;
    display: none;
    text-align: center;
    font-size: 25px;
    border-top: 1px groove lightgray;
    padding-top: 14px;
    font-weight: 100;
    color: gray;
}

.startquiz {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 15px 8px 15px;
    font-size: 18px;
    background-color:  rgb(218, 5, 218);
    border:none;
    border-radius: 10px;
    color: white;
}

.startquiz:hover {
    background-color: rgb(245, 73, 245);
}

ol {
    margin: 35px 170px 30px 170px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight:500;
}

.options {
    margin: 20px;
    display: block;
    text-align: center;
    padding: 8px 15px 8px 15px;
    font-size: 18px;
    background-color:  rgb(218, 5, 218);
    border:none;
    border-radius: 10px;
    color: white;
}

.options:hover {
    background-color: rgb(245, 73, 245);
}